{% macro cta_button (class='') %}
    <a class="btn {{ class }}" href="{{ url_for('Produce.produce') }}">
        <span>
            <img src="{{ url_for('static', filename='images/icons/cart.svg') }}" alt="cart" class="icon">
            Start shopping
        </span>
    </a>
{% endmacro %}


{% macro form_errors (errors=[]) %}
    {% for error in errors %}
        <span class="text--red">{{ error }}</span>
    {% endfor %}
{% endmacro %}




{% macro sighting_card (sighting=None, timezone=None) %}
    <div class="card">
        <div class="card__info">
            <p>Nr.: {{ sighting.nr }}</p>
            <p>Reported by: {{ sighting.username }}</p>
            <p>Description: {{ sighting.title }}</p>
            <p>Report time in local time ({{ timezone }}) +/- offset  from UTC: {{ sighting.report_time }}</p>
            <p>Latitude: {{ sighting.latitude}}</p>
            <p>Longitude: {{ sighting.longitude}}</p>
            <p>Location id: {{sighting.location_id}}</p>
            <p>Country: {{sighting.country}}</p>
            <p>State: {{sighting.state_name}}</p>
            <p>City: {{sighting.city}}</p>
        </div>

    </div>
{% endmacro %}